        /* for ipad */

@media (max-width: 1035px) {

    .cointner-1 {
        max-width: 920px;
        margin-inline: auto;
        padding-inline: var(--padding-inline-section);
    }

    .cointner-2 {
        max-width: 840px;
        margin-inline: auto;
        padding-inline: var(--padding-inline-section);
    }

    .nav-bar {
        margin-left: 10px;
    }

    .main-heading {
        margin-top: 140px;

    }

    .heading h1 {
        font-size: 2.4rem;
    }

    .sub-heading {
        font-size: 1.9rem;
    }

    .about-me-btn {
        width: 155px;
        font-size: 15px;
        padding: 10px 10px 10px 25px;
    }

    .about-me-btn:hover {
        padding: 10px 10px 10px 25px;
        width: 155px;
        font-size: 15px;
    }

    .service-about {
        margin-top: 300px;
        font-size: 21px;
        margin-top: 150px;
    }

    .service-heading {
        font-size: 2.1rem;
    }

    .big {
        font-size: 1.2rem;
    }

    .for-align {
        font-size: 13px;
    }

    .service-logo {
        margin-top: 65px;
    }

    .work-img {
        margin-top: 45px;
        width: 640px;
        height: 300px;
    }

    .flipkart-clone {
        margin-top: 20px;
        font-weight: bold;
    }

    .left-right h2 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .for-size {
        font-size: 16px;
    }

    .hire {
        margin-top: 170px;
        font-size: 1.8rem;
    }

    .contact {
        margin-top: 27px;
        color: var(--nav-color);
        font-size: 1.9rem;
        font-weight: 600;
    }

    .contact:hover {
        margin-top: 27px;
        color: var(--nav-color);
        margin-left: 2px;
        font-size: 1.9rem;
        font-weight: 600;
    }

    .sub-footer {
        margin-top: 135px;
    }

    .email {
        margin-left: 57vw;
        width: 30px;
        height: 9px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }

    .footer {
        margin-top: 120px;
        gap: 160px;
    }
}

        /* for device smaller than ipad */

@media (max-width: 850px) {

    .cointner-1 {
        max-width: 800px;
        margin-inline: auto;
        padding-inline: var(--padding-inline-section);
    }

    .cointner-2 {
        max-width: 720px;
        margin-inline: auto;
        padding-inline: var(--padding-inline-section);
    }

    .nav-bar {
        margin-left: 10px;
    }

    .main-heading {
        margin-top: 40px;

    }

    .heading h1 {
        font-size: 2.4rem;
    }

    .sub-heading {
        font-size: 1.9rem;
    }

    .about-me-btn {
        width: 155px;
        font-size: 15px;
        padding: 10px 10px 10px 25px;
    }

    .about-me-btn:hover {
        padding: 10px 10px 10px 25px;
        width: 155px;
        font-size: 15px;
    }

    .service-about {
        margin-top: 300px;
        font-size: 21px;
        margin-top: 150px;
    }

    .service-heading {
        font-size: 2.1rem;
    }

    .big {
        font-size: 1.2rem;
    }

    .for-align {
        font-size: 13px;
    }

    .service-logo {
        margin-top: 65px;
    }

    .work-img {
        margin-top: 45px;
        width: 640px;
        height: 300px;
    }

    .flipkart-clone {
        margin-top: 20px;
        font-weight: bold;
    }

    .left-right h2 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .for-size {
        font-size: 16px;
    }

    .hire {
        margin-top: 170px;
        font-size: 1.8rem;
    }

    .contact {
        margin-top: 27px;
        color: var(--nav-color);
        font-size: 1.9rem;
        font-weight: 600;
    }

    .contact:hover {
        margin-top: 27px;
        color: var(--nav-color);
        margin-left: 2px;
        font-size: 1.9rem;
        font-weight: 600;
    }

    .sub-footer {
        margin-top: 135px;
    }

    .email {
        margin-left: 57vw;
        width: 30px;
        height: 9px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }

    .footer {
        margin-top: 120px;
        gap: 160px;
    }
}



/* dilip code */

@media (max-width:640px) {
    #navtext{
        display: none;
        flex-direction: column;
    }

    .cointner-1{
        display: flex;
        flex-direction: column;
        /* height: 45vh; */
    }

    #navtext ul{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
    }

    #hamburger{
        list-style: none;
        display: inline;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}